<div class="text-center">
  <main class="form-signin w-100 m-auto">
    <form [formGroup]="registerForm" novalidate (ngSubmit)="onSubmit()">
      <!-- <img class="mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
      <h1 class="h3 mb-3 fw-normal">Register</h1>

      <div class="form-floating">
        <input type="text" formControlName="displayName" class="form-control" placeholder="Name" id="floatingInputName"
          [class.is-invalid]="_displayName.invalid && _displayName.touched" [class.is-valid]="_displayName.valid">
        <label for="floatingInputName">Name</label>
        <small class="text-danger fw-bold" [class.d-none]="_displayName.valid || _displayName.untouched">*Name is
          required!</small>
      </div>
      <div class="form-floating">
        <input type="email" formControlName="email" class="form-control my-3" placeholder="name@example.com"
          id="floatingEmail" [class.is-invalid]="_email.invalid && _email.touched || _email?.errors?.['emailExists']"
          [class.is-valid]="_email.valid">
        <span [ngClass]="{'d-none': !_email.pending}"><i class="fa fa-spinner fa-spin text-danger loader"></i></span>
        <label for="floatingEmail">Email address</label>
        <div class="fw-bold" *ngIf="_email.invalid && _email.touched || _email?.errors?.['emailExists']">
          <small class="text-danger" *ngIf="_email?.errors?.['required']">*Email is required!</small>
          <small class="text-danger" *ngIf="_email?.errors?.['email']">*Invalid Email Pattern!</small>
          <!-- Email Exist -->
          <small class="text-danger" *ngIf="_email?.errors?.['emailExists']">*This Email is already exists!</small>
        </div>
      </div>
      <div class="form-floating">
        <input type="password" formControlName="password" class="form-control" placeholder="Password"
          id="floatingPassword" [class.is-invalid]="_password.invalid && _password.touched"
          [class.is-valid]="_password.valid">
        <label for="floatingPassword">Password</label>
        <div class="fw-bold">
          <small class="text-danger"
            *ngIf="_password.invalid && _password.touched && _password.hasError('required')">*Password is
            required!</small>
          <small class="text-danger" *ngIf="_password.hasError('pattern')">*Password It expects atleast 1 small-case
            letter, 1 Capital letter, 1 digit, 1 special character and the length should be between 6-10 characters. The
            sequence of the characters is not important. This expression follows the above 4 norms specified by
            microsoft for a strong password!</small>
        </div>
      </div>
      <div class="form-floating">
        <input type="password" formControlName="confirmPassword" class="form-control" placeholder="Confirm Password"
          id="floatingConfirmPassword" [class.is-invalid]="registerForm.hasError('misMatch')"
          [class.is-valid]="!registerForm.hasError('misMatch') && _confirmPassword.dirty">
        <label for="floatingConfirmPassword">Confirm Password</label>
        <small class="text-danger fw-bold" *ngIf="registerForm.hasError('misMatch')">*Password Does Not Match!</small>
      </div>

      <div>
        <ol *ngIf="errors" class="text-danger fw-bold">
          <li *ngFor="let error of errors">{{error}}</li>
        </ol>
      </div>
      <!-- <div class="form-check text-start my-3">
        <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Remember me
        </label>
      </div> -->
      <button class="btn btn-danger w-100 py-2" type="submit" [disabled]="registerForm.invalid">Register</button>
    </form>
  </main>
</div>
