<div *ngIf="(basket$ | async) === null">
  <h3 class="text-center text-danger">There is no items in your Cart</h3>

</div>

<div class="mt-5" *ngIf="(basket$ | async) as basket">
  <div class="container">
    <div class="row">
      <app-basket-summary (decrement)="decrementBasketItemQuantity($event)"
        (increment)="incrementBasketItemQuantity($event)" (remove)="removeItemFromBasket($event)">
      </app-basket-summary>
    </div>
    <div class="row">
      <div class="col-6 offset-6">
        <app-order-total *ngIf="(basketTotals$ | async)"
          [shippingCost]="(basketTotals$ | async).shipping"
          [subTotal]="(basketTotals$ | async).subTotal"
          [total]="(basketTotals$ | async).total"></app-order-total>
        <a routerLink="/checkout" class="btn btn-outline-success d-md-block mb-5">Proceed to Checkout</a>
      </div>
    </div>
  </div>
</div>
